
input[type="number"] {
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
  font-size: 16px;
  margin-left: 10px;
  border-style: solid;
  border-radius: 10px;
  border-color: slategray;
}

button {
  padding: 12px 24px;
  margin-left: 10px;
  margin-top: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

label {
  font-size: 18px;
  margin-bottom: 20px;
  /* color: white; */
  margin-left: 5px;
}

img {
  width: 20em;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.calculator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* align-items: baseline; */
  margin-top: 50px;
  flex-direction: column;
}

.calcStyle {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.result {
  font-size: 24px;
  font-weight: bold;
  color: #00b8d4;
  margin-top: 20px;
}

.styleImg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.randomJoke {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
